[Unit]
Description=YouTube 24/7 Webcam Stream
After=network.target
StartLimitIntervalSec=60s
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=40s
# Points to the secret environment file
EnvironmentFile=/home/frans/webcam/youtube-stream.env

ExecStart=/usr/bin/ffmpeg \
  -hwaccel vaapi \
  -hwaccel_device /dev/dri/renderD128 \
  -hwaccel_output_format vaapi \
  -rtsp_transport tcp \
  -stimeout 10000000 \
  -i "rtsp://${WEBCAM_USER}:${WEBCAM_USER_PASS}@${WEBCAM_IP}:554/CAM01Z/CAM01" \
  -map 0:v:0 -map 0:a:0 \
  -af "volume=0.1" \
  -vf "scale_vaapi=1920:1080:format=nv12" \
  -c:v h264_vaapi \
  -b:v 13500k \
  -maxrate 13500k \
  -bufsize 27000k \
  -g 40 \
  -keyint_min 40 \
  -bf 0 \
  -vsync 0 \
  -c:a aac \
  -ar 22050 \
  -b:a 16k \
  -ac 1 \
  -f flv \
  -flvflags no_sequence_end \
  "rtmp://a.rtmp.youtube.com/live2/${YOUTUBE_RTMP_STREAM_KEY}" \
  -map 0:v:0 \
  -vf "hwdownload,format=nv12,fps=1/60" \
  -an \
  -update 1 \
  -y /home/frans/.local/tmp/webcam_live.jpg

StandardOutput=journal
StandardError=journal
SyslogIdentifier=youtube-stream

[Install]
WantedBy=multi-user.target
